<<<<<<< HEAD
body {
=======
/* body {
>>>>>>> e3e8cdecaba645c7c632e076fc5d52bbf5d1dfc1
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: row;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}
<<<<<<< HEAD




 /* /////////////////////////////2ND SOLUTION////////////////////////////////////////// */
 
 /* .top-h1{
  font-size: 100px;
  margin: 0px 0px 0px 100px;
  font-family: "Poppins", sans-serif;
}


.bottom-h1{
  font-size: 100px;
  margin: 0px 0px 100px 100px;
  font-family: "Poppins", sans-serif;
}

h2{
  font-size: 40px;
  font-family: "Poppins", sans-serif;
}

p{
  font-size: 25px;
  font-family: "Poppins", sans-serif;
}

footer{
  font-size: 30px;
  color: blue;
  text-align: right;
  margin-top: 100px;
}


=======
 */ 

.main > img{
  width: 400px;
  height: 150px;
  margin: 100px 0px 80px 100px;

}

h1{
  font-size: 180px;
  margin-left:100px;
  margin: 0px 0px 20px 100px;
  font-family: "Poppins", sans-serif;
}

>>>>>>> e3e8cdecaba645c7c632e076fc5d52bbf5d1dfc1
.big-box{
  margin-left: 100px;
}

<<<<<<< HEAD
.left-box{
  display: inline-block;
  width: 40%;
}

.right-box{
  display: inline-block;
  width: 44%;
  margin-left: 320px;
}

.main > img{
  width: 300px;
  height: 100px;
  margin: 100px 0px 40px 100px;
}

.left-box > img{
  float: left;
  margin-right: 70px;
  width: 450px;
  height: 350px;
}

.right-box > img{
  float: left;
  margin-right: 70px;
  width: 450px;
  height: 350px;
}


@media (max-width: 600px){
  .top-h1{
    font-size:50px;
  }


  .left-box{
    display:block;
  }


  .right-box{
    display:block;
  }


  .left-box > img{
    display: block;
    margin-right: 70px;
    width: 350px;
    height: 250px;
  }
  
  .right-box > img{
    display: block;
    margin-right: 70px;
    width: 350px;
    height: 250px;
  }
  


} */









=======
.left-box > img{
  display: inline-block;
}
>>>>>>> e3e8cdecaba645c7c632e076fc5d52bbf5d1dfc1
